<h2 id="callbackHead">What Are JavaScript Callbacks?</h2>

<p class="description">A JavaScript Callback is a function that is executed <i>asynchronously</i>, or non-sequentially.
Essentially, a callback function is one that is passed into another function, to be executed at another time based on certain conditions.</p>

<p class="description">Callbacks are important because, again, JavaScript is an event driven language. Thus, we may need code that only fires off after certain
    events have occurred (i.e. a webpage visitor hovers over an image). If we want that to happen <i>only under the condition that someone hovers over the image</i>,
    we may have to use a callback. As <a href="https://codeburst.io/javascript-what-the-heck-is-a-callback-aba4da2deced">this article</a> puts it: 
    <q>Callbacks are a way to make sure certain code doesn’t execute until other code has already finished execution.</q></p>
