body{
    background-color: cornsilk;
}

#mapHead{
    color: darkslategrey;
    text-align: center;
}

.description{
    text-align: center;
    margin: 3% auto;
    width: 50%;
    font-size: 110%;
    color: darkslategrey;
}

a:visited {
    color: dimgrey;
}

a:hover {
    color: midnightblue;
}

h5 {
    font-size: 150%;
    color: darkred;
    text-align: center;
    margin: 8% auto;
}