<h2 id="mapHead">What Does The Map Function Do?</h2>

<p class="description">The map function in JavaScript allows you to call a function on an array of elements and returns an array of the values that result 
    from that called function on each value in the original array. For example, if you passed in an array <code>[1,2,3,4]</code> and then used the map function on that array
    with a <a routerLink="/callbacks">callback</a> function that doubles the passed value, you would return an array of <code>[2,4,6,8]</code>. It is extremely useful for 
    performing the same operation on multiple elements.</p>

    <h5 *ngIf = "mapLink === true"><a href="https://codesquery.com/javascript-map-function/#JavaScript_map()_Function_Description">Click here to learn more!</a></h5>
