<h2 id="createHead">Who Created JavaScript?</h2>

<p class="description">JavaScript was invented in 1995 by a man by the name Brendan Eich. While originally called LiveScript on its release, its name was changed three months
    after its release. Despite the nomenclature, JavaScript is not related to the programming language Java.</p>

<p class="description">Despite its inefficiencies as a programming language, JavaScript is universal in its use and popularity. It is the dominant client-side scripting
    language of the web, used in an estimated 95% of websites.
</p>